<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.59.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wpa81" />
</packages>